Repository stefanzweifel/php-changelog-updater, pull requests merged in 2022-05, with the labels that each got.

#23 Fix: Abort and Show Error Message when Release Notes could not be placed
  app/Actions/PasteReleaseNotesAtTheTop.php
  app/Commands/UpdateCommand.php
  app/Exceptions/ReleaseNotesCanNotBeplacedException.php
  tests/Feature/UpdateCommandTest.php
  tests/Stubs/empty-changelog.md
Labels: changelog:fixed

#25 Add support for hierarchy heading shifting
  app/Actions/ShiftHeadingLevelInDocument.php
  tests/Feature/UpdateCommandTest.php
  tests/Unit/Actions/ShiftHeadingLevelInDocumentTest.php
Labels: changelog:fixed

#24 Shift Headings to Release Notes to always be at least level 3 headings
  app/Actions/PasteReleaseNotesAtTheTop.php
  app/Actions/PasteReleaseNotesBelowUnreleasedHeading.php
  app/Actions/ShiftHeadingLevelInDocument.php
  tests/Feature/UpdateCommandTest.php
  tests/Stubs/expected-changelog-with-shifted-headings.md
  tests/Unit/Actions/ShiftHeadingLevelInDocumentTest.php
Labels: changelog:added

#26 Refactor Internals
  app/Actions/AddReleaseNotesToChangelogAction.php
  app/Actions/ExtractPermalinkFragmentFromHeadingAction.php
  app/Actions/InsertReleaseNotesInChangelogAction.php
  app/Actions/PasteReleaseNotesAtTheTop.php
  app/Actions/PlaceReleaseNotesAtTheTopAction.php
  app/Actions/PlaceReleaseNotesBelowUnreleasedHeadingAction.php
  app/Actions/PrepareReleaseNotesAction.php
  app/Actions/ShiftHeadingLevelInDocumentAction.php
  app/Commands/UpdateCommand.php
  app/CreateNewReleaseHeading.php
  app/CreateNewReleaseHeadingWithCompareUrl.php
  app/QueryExpressions/HeadingLevel.php
  app/QueryExpressions/HeadingText.php
  app/Support/Markdown.php
  app/Support/MarkdownParser.php
  app/Support/MarkdownRenderer.php
  tests/Unit/Actions/ShiftHeadingLevelInDocumentActionTest.php
Labels: changelog:changed

#27 Add `--heading-text` option to manipulate heading text
  README.md
  app/Actions/AddReleaseNotesToChangelogAction.php
  app/Actions/PlaceReleaseNotesAtTheTopAction.php
  app/Actions/PlaceReleaseNotesBelowUnreleasedHeadingAction.php
  app/Commands/UpdateCommand.php
  app/CreateNewReleaseHeadingWithCompareUrl.php
  tests/Feature/UpdateCommandTest.php
  tests/Stubs/expected-changelog-with-heading-text.md
  tests/Stubs/expected-changelog-without-unreleased-with-heading-text.md
  tests/Unit/CreateNewReleaseHeadingTest.php
Labels: changelog:added
